// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

body {
    margin: 0;
    padding: 0;
  }

  .main-content {
    background: #ccc;
    font-family: Arial, sans-serif;
    padding: 1em;
    border-radius: 10px;
  }

  .main-content .blog-post {
    border-bottom: 1px #666 solid;
    padding: 1em 0;
  }

  .main-content .blog-post h1 {
    margin: 0 0 0.25em 0;
    padding: 0;
  }

  .main-content .blog-post p {
    margin: 0 0 1em 0;
    padding: 0;
  }

  .main-content .blog-post a {
    color: blue;
    font-weight: bold;
    text-decoration: none;
  }

  .main-content .blog-post a:hover,
  .main-content .blog-post a:focus {
    color: red;
    text-decoration: underline;
  }

  .leftSection{
    width: 40%;
    float:left;
  }

  .rightSection{
      border: solid;
      border-width: thin;
      border-color: black;
      padding:2.5em;
    width: 30%;
    float:right;
  }


#message{
    margin-top: 3rem;
}
  .formHeader{
    margin-bottom: 50px;
  }
  .formStyle
  {
      width: 30%;
  }


.postDivider{
    margin-top: 2em;
}



.commentTextDiv{
    background-color: whitesmoke;
    position:relative;
    border-radius: 5px;
    margin-top: 5px;
    padding-left:10px;
    padding-right:10px;

}


.commentDate
{
    position:absolute;
    bottom:0;
    right:0;
    font-size: 0.7rem;
    background-color: pink;
}

.commentBy{
    font-size: 0.8rem;
    text-align: center;
}


.commentText{
display: inline-block;
word-break: break-all;

}




.commentFieldTextArea{

    margin-top: 8px;
}





.myBtnClass {

  background: linear-gradient(to bottom, #4eb5e5 0%,#389ed5 100%); /* W3C */
  border: none;
  border-radius: 5px;
  position: relative;
  border-bottom: 4px solid #2b8bc6;
  color: #fbfbfb;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 1px 1px 1px rgba(0,0,0,.4);
  font-size: 15px;
  text-align: left;
  text-indent: 5px;
  box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2);
  cursor: pointer;

/* Just for presentation */
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
.myBtnClass:active {
  box-shadow: 0px 2px 0px 0px rgba(0,0,0,.2);
  top: 1px;
}



.postsTitle{
    text-align: center;
}
